[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
python-crontab = "*"
tweepy = "*"
python-telegram-bot = "*"
bs4 = "*"
lxml = "*"
requests-html = "*"

[dev-packages]

[requires]
python_version = "3.9"
